* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

header {
    background-image: url("../images/banner.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

header .menu {
    background-color: rgba(0, 0, 0, 0.78);
    padding: 0px;
    margin: 0px;
}

.navbar {
    padding: 0px;
    margin: 0px;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    margin: 10px;
    transition: all 0.4s ease-in-out 0s;
}

.search-btn {
    margin: 0px;
    padding: 0px !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(243, 156, 18);
}

.navbar-light .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -15px;
    width: 0%;
    height: 5px;
    background: rgb(243, 156, 18);
    transition: all 0.4s ease-in-out 0s;
}

.navbar-light .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: -15px;
    width: 0%;
    height: 5px;
    background: rgb(243, 156, 18);
    transition: all 0.4s ease-in-out 0s;
}

.navbar-light .navbar-nav .nav-link:hover::before {
    width: 50%;
}

.navbar-light .navbar-nav .nav-link:hover::after {
    width: 50%;
}

.hg {
    min-height: 80vh;
}

.text {
    text-align: right;
}

.header-content span {
    color: rgb(243, 156, 18);
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 300;
}

.header-content h1 {
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-started {
    font-size: 20px;
    text-transform: uppercase;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    transition: all 0.4s ease-in-out 0s;
}

.btn-started:hover {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: rgb(243, 156, 18);
    border: none;
    padding: 5px 20px;
}

.btn-portfolio {
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: rgb(243, 156, 18);
    padding: 5px 20px;
    transition: all 0.4s ease-in-out 0s;
}

.btn-portfolio:hover {
    font-size: 20px;
    text-transform: uppercase;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    background: transparent;
}

.progress {
    width: 80%;
}

.prgs-section {
    margin-top: 41px;
}

.prgs {
    position: relative;
}

.badge-percent {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0px, -50%);
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: orange;
    padding: 10px;
}

.proges-bar h5 {
    text-transform: capitalize;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    font: 700;
}

.progress-bar {
    background-color: orange;
}

.arrow-left {
    width: 0px;
    height: 0px;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 13px solid rgb(255, 165, 0);
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.about-me {
    margin: 100px 0px;
}

.heading h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
}

.heading .line {
    display: block;
    height: 2px;
    width: 80%;
    background-color: rgb(255, 165, 0);
    margin: 10px auto;
    position: relative;
}

.heading .line::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 5px;
    width: 30px;
    background-color: rgb(255, 165, 0);
    animation: 5s linear 0s infinite alternate none running ani;
}

.about-me p {
}

@keyframes ani {
    0% {
        left: 50%;
    }

    25% {
        left: 60%;
    }

    50% {
        left: 40%;
    }

    100% {
        left: 50%;
    }
}

.service {
    border: 1px solid rgba(226, 226, 226, 0.98);
    padding: 20px;
    position: relative;
    transition: .4s all ease-in-out;
}

.service .icon {
    height: 60px;
    width: 60px;
    background-color: rgb(145, 145, 144);
    margin: auto;
    border-radius: 50%;
}

.service .icon i {
    font-size: 25px;
    color: rgb(255, 255, 255);
    line-height: 60px;
}

.service h3 {
    margin: 10px 0px;
    text-transform: uppercase;
    color: #6e6e6e;
    font-size: 20px;
    font-weight: 600;
}

.service p {
    color: #6e6e6e;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.service:hover {
    background-color: orange;
}
.service:hover .icon {
    background-color: #fff;
    
}
.service:hover .icon i {
    color: orange;
}
.service:hover  h3 {
    color: #fff;
}
.service:hover  p {
    color: #fff;
}
.service:hover::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 100px solid #fff;
    border-right: 100px solid transparent;
    left: -1px;
    top: -1px;
}
.service:hover::after {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    height: 30px;
    width: 30px;
    border-left: 2px solid orange;
    border-top: 2px solid orange;
}

.statistics {
    background-image: url(../images/state-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 300px;

    padding: 30px 0px;
}
.statistics .heading h1 {
    color: #fff;
}
.state-icon {

color: orange;

height: 40px;

width: 40px;

background-color: #fff;

margin: auto;

line-height: 40px;

border-radius: 50%;
}
.state-icon i {
    
}
.state-content {

color: #fff;

text-align: center;
}
.state-content h1 {

font-size: 30px;

padding: 0;

margin: auto;

margin:  10px 0;
}
.state-content h3 {

margin: 0;

font-size: 20px;

margin: 15px 0px;

text-transform: uppercase;

font-weight: 600;
}
.over-line {
    position: relative;
}
.over-line::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 70%;
    left: 17%;
    transform: translateX(-17px);
    transform: translate(-15px,);
    background-color: #fff;
    top: 50%;
}

/* gallery section */


.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    /* border: 1px solid #42B32F; */
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;
    font-weight: 400;
}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;
}
.btn-default:focus {
    color: #fff;
    background-color: orange;
    outline: none;
    box-shadow: none;
}


.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
    position: relative;
}
.gallery_product img{

min-height: 250px;
min-width: 250px;
}
.work-content {
    position: absolute;
    background-color: #01010187;
    left: 15px;
    bottom: 0px;
    height: 0px;
    width: 285px;
    padding: 0px 15px;
    opacity: 255px;
    transition: .4s all ease-in-out;
}
.work-content h4 {

color: #fff;

margin: 0;

font-size: 16px;

font-weight: 600;
}
.work-content p {

color: #fff;

margin: 0;

font-size: 16px;

font-weight: 400;
}
.gallery_product:hover .work-content {
    height: 50px;
    opacity: 1;
}

.project-search {
    
background-color: orange;
    
color: #fff;
    
height: 40px;
    
width: 40px;
    
font-size: 20px;
    
line-height: 40px;
    
text-align: center;
    
border-radius: 50%;
    
position: absolute;
    
right: 20px;
    
top: 0px;
opacity: 0;
transition: .4s all ease-in-out;
}
.gallery_product:hover .project-search  {
    
    top: 10px;
    opacity: 1;
}

.single-story {

border: 1px solid #00000029;

padding: 18px !important;

/* padding-left: 27px !important; */
}
.single-story h5 {

font-size: 14px;

font-weight: 400;
}
.single-story h3 {

text-transform: capitalize;

font-size: 16px;

padding: 0;

/* margin: 0; */

color: #ffb630;

font-weight: 600;
}
.single-story p {

font-size: 14px;

font-weight: 400;
}
.single-story a {
    
}
.btn-story {

background-color: #000;

color: #fff;

text-transform: capitalize;

border-radius: 0;

font-weight: 700;
}


/* carousel */
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -50px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background:  #707070;
    border-radius: 50%;
    width: 18px;
    height: 0px;
}

.blog .carousel-indicators .active {
background:  #000;
}
/* carousel */


.life-changing {
    margin: 100px 0px;
    background-color: #262626;
}
.life-changing .heading h1 {
    color: #fff;
}
.life-changing .heading p {
    color: #fff;
    margin: 30px 0px;
    font-size: 16px;
    font-weight: 400;
}

.feedback-section{

}
.feedback {

background-color: #f6f6f6;

padding: 20px;

text-transform: capitalize;
}
.feedback h5 {

/* margin: 0; */

font-size: 20px;

font-weight: 700;
}
.feedback p {

font-size: 16px;

margin: 0;
}
.client {

display: flex;

justify-content: end;

/* margin: 30px 0px; */
}
.client-profile {

}
.client-profile img {

height: 100px;

width: 100px;

margin-left: 40px;
}
.client-details {

margin-left: 20px;

margin-top: 20px;

/* align-items: center; */
}
.client-details h5 {

margin: 0;

font-size: 20px;

text-transform: capitalize;

color: orange;

font-weight: 600;
}
.client-details h4 {
    
margin: 0;
    
font-size: 20px;
    
text-transform: capitalize;
    
font-weight: 400;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #f6f6f6;
    margin-left: 50px;
  }
  .latest-tweet {
      background-image: url(../images/tweet-bg.png);
      background-position: center;
      min-height: 300px;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .latest-tweet .heading h1 {
      color: #fff;
  }
  .latest-tweet p {
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
  }
  .latest-tweet p span {
      color: orange;
  }
  .Contact .heading p {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
  }
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #00000085;
    border-radius: 0px;
}
.form-content {

}
.form-group {
    width: 45%;
}
.name-email {

display: flex;

justify-content: space-between;
}
.subject-date {
    
display: flex;
    
justify-content: space-between;
}
.txt{
    width: 100%;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #e29b05;
    /* outline: 0; */
    /* box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); */
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #e29b05;
}
.btn-submit {
    
background-color: #ffb631;
    
color: #fff;
}
.map {
    
position: relative;
}
.map .adress {

position: absolute;

right: 10%;

top: 50%;

transform: translate(-10% , -50%);

background-color: #f1ab3aba;

padding: 15px;

/* opacity: 75%; */
}
.map .adress p {

font-size: 16px;

color: #fff;

opacity: 100% !important;
}

.follow {

}
.follow ul {

display: flex;

justify-content: space-between;

list-style: none;

margin: 50px 0px;
}
.follow ul li {

border: 1px solid #ffb631;

height: 40px;

width: 40px;

text-align: center;

line-height: 40px;
transition: .4s all ease-in-out;
}
.follow ul li a {
    
color: #ffb631;
    
font-size: 25px;

}
.follow ul li:hover {
    background-color: #ffb631;
    color: #fff;
}
.follow ul li:hover  a{
    color: #fff;
}

footer {

background-color: #ffb631;

padding: 20px 0px;
}
footer h6 {

font-size: 16px;

margin: 0px;

font-weight: 600;
}
footer h6 span {
    color: #fff;
}